* {
    box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  background-color: #093145;
  color: #fff;
}

main {
  max-width: 768px;
  margin: 0 auto;
}

input:focus, textarea:focus, select:focus, button:focus  {
  background-color: white;
  outline: none;
  border: 6px solid #4ebbb5;
  transition: all .2s;
}

input::placeholder {
  text-align: right;
  font-style: italic;
  padding-right: 10px;
}

.contact-info {
  font-size: 1.6em;
  margin-top: 25px;
  color: white;
  font-weight: bold;
}

.contact-info .flex-pair {
  display: flex;
  flex-direction: column;
  margin: 30px;
  align-self: center;
}

.flex-pair {
  font-size: .7em;
}

.contact-info label {
  margin: 17px;
  color: white;
  font-size: 1em;
}

.contact-info input {
  flex-grow: 1;
  flex-basis: 75%;
}

h1 {
    font-size: 1.3em;
    text-transform: uppercase;
}

h2 {
    font-size: 1.2em;
    color: white;
}

fieldset {
    border: 0;
}

#title {
    padding: 15px;
    margin: 0;
    text-align: center;
    color: white;
    background: #00203FFF;
}

#signup {
    margin: 35px 50px 50px 50px;
    text-align: center;
    font-size: 1.4em;
}

#HTMLnews {
  margin: 10px;
}

#CSSnews {
  margin: 10px;
}

#JavascriptNews{
  margin: 10px;
}

#zip-code {
  max-width: 50%;
}

#HTML {
  margin: 10px;
}

#PLAIN-TEXT {
  margin: 10px;
}

#name, #email, #telephone, #address, #city, #state, #zip-code {
  padding: 12px 0 20px 0;
  border-radius: 10px;
}

.latest-news {
   font-size: 1em;
   color: white;
}

.container {
    border: 4px #2d3945;
    margin: 0 auto;
    width: 400px;
}

.hr1 {
   height: 3px;
   width: 100%;
   border: none;
   background-color: white;
}

.hr2 {
  height: 1px;
  width: 100%;
  border: none;
  background-color: white;
}

.hr3 {
  height: 1px;
  width: 90%;
  border: none;
  background-color: white;
}

.line {
   margin: 50px auto 50px;
   max-width: 550px;
}

.receive {
   padding: 0px 0 0 15px;
}

.news-options {
   padding-left: 10px;
}
.newsletter-top {
   padding: 15px 5px 0 10px;
   color: white;
   font-size: 1.4em;
   font-weight: bold;
}

.newsletter-bottom {
   padding: 25px 0 0 10px;
   text-align: left;
   color: white;
}

.format {
   padding: 5px 0 0 2px;
   color: white;
}

.other-topics {
  padding: 15px 11px 15px 11px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.btn {
    max-width: 96%;
    margin: 20px auto;
    font-family: 'Merriweather', serif;
    font-size: 1.5em;
    color: white;
    border: none;
    border-radius: 6px;
    display: block;
    background: #4ebbb5;
    transition: all 0.5s ease;
}

footer {
   padding: 25px;
   text-align: center;
   font-style: italic;
   color: lightgray;
   font-size: 20px;
}

/* media Queries */

@media (min-width: 768px) {
  .contact-info .flex-pair {
    display: flex;
    flex-direction: row;
  }

  .contact-info input {
  flex-grow: 1;
  flex-basis: 75%;
}

.contact-info label, select {
  flex-basis: 25%;
  height: 50px;
  margin: auto 15px;
  padding-bottom: 10px;
}

.contact-info input,
.contact-info select {
  flex-grow: 1;
  flex-basis: 75%;
}

#zip-code {
  max-width: 25%;
}

.hr3 {
  height: 1px;
  width: 94%;
  border: none;
  background-color: white;
}

}
