* {
    box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 768px;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  background-color: #093145;
  color: #fff;
}

input {
  border: 1px solid white;
}

.contact-info {
  padding: 50px 50px 35px 50px;
}

.contact-info .flex-pair {
  display: flex;
  flex-direction: column;
}

.contact-info label {
  margin-bottom: 10px;
}
​
.contact-info input {
  height: 50px;
  margin-bottom: 15px;
}


#telephone {
  max-width: 50%;
}

contact-info input {
  flex-grow: 1;
  flex-basis: 75%;
}

h1 {
    font-size: 1.3em;
    text-transform: uppercase;
}

h2 {
    font-size: 1.5em;
}

fieldset {
    border: 0;
}

#title {
    padding: 15px;
    margin: 0;
    text-align: center;
    color: white;
    background: #00203FFF;
}

#signup {
    border: 35PX;
    margin: 35px 50px 50px 50px;
    text-align: center;
    font-size: 17px;
}

.latest {
   font-size: 20px;
   color: lightgray;
}

.container {
    padding: 4px 0;
    border-top: 4px solid #2d3945;
    margin: 0 auto;
    max-width: 550px;
}
.container::before {
   content: " ";
   border-top: 2px solid #2d3945;
   display: block;
}

.information {
   text-align: left;
}

.line {
   margin: 50px auto 50px;
   max-width: 550px;
}

.newsletter-top {
   text-align: left;
   font-weight: bold;
   font-size: 20px;
}

.news-options {
   color: lightgray;
}

.receive {
   text-align: left;
   color: lightgray;
}

.newsletter-bottom {
   padding: 50px 0 10px;
   text-align: left;
   color: lightgray;
}

.format {
   color: lightgray;
}

.btn {
    width: 100%;
    max-width: 50%;
    margin: 40px auto;
    padding: 0px;
    font-family: 'Merriweather', serif;
    font-size: 1.2em;
    font-weight: 700;
    color: white;
    border: none;
    border-radius: 8px;
    display: block;
    background: #4ebbb5;
    transition: all 0.5s ease;
}

footer {
   padding: 25px;
   text-align: center;
   font-style: italic;
   color: lightgray;
   font-size: 20px;
}

/* media Queries */

@media (min-width: 768px) {
  .contact-info .flex-pair {
    flex-direction: row;
  }

  .contact-info input {
  flex-grow: 1;
  flex-basis: 75%;
}

.contact-info label {
  flex-basis: 25%;
  height: 50px;
  margin: auto 0;
}

#telephone {
  max-width: 25%;
}

}
